html, body {
	background-color: #C1F6F6;
	height: auto;
	margin: 0;
	width: auto;
}

#menu{
	background-color:#0D1B1B;
	width: 100%;
	position: fixed;
	top:0;
 	height: 50px;
 	z-index: 9999;
}

nav#contenido {
	position: fixed;
 	background-color: #0D1B1B;
}

nav#contenido ul {
	position:static;
	top:10px;
	bottom: 10px;
	margin: 0px;
	display:block;
	width: 100%;
}

ul,li{
	list-style-type:none;
	display: inline-block;
	padding:0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.menu a, .menu a:visited{
		background-color:#0D1B1B;
    text-align:center;
    text-decoration:none;
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    color: white;
    padding:10px;
    margin:10px;
}

/*Efectos del menú*/
.menu a:hover{
     position:relative;
     top:-5px;
     color:#46A1B6;
     font-size: 22px;
     opacity: 1;
     text-shadow: 0px 0px 13px #fff;
	 webkit-transform: skew(-12deg);
	 moz-transform: skew(-12deg);
	 o-transform: skew(-12deg);
	 ms-transform: skew(-12deg);
	 transform: skew(-12deg);
	 webkit-transition: all 0.4s ease-in-out;
	 moz-transition: all 0.4s ease-in-out;
	 o-transition: all 0.4s ease-in-out;
	 ms-transition: all 0.4s ease-in-out;
	 transition: all 0.4s ease-in-out;
 }

.menu li:hover{
	opacity: 1;
  	color:#46A1B6;
 	animation: moveFromBottom 300ms ease-in-out;
 	color: transparent;
	text-shadow: 0px 0px 10px #fff;
	background: rgba(88,22,22,0.2);
 }

 /*Social Share buttons*/
 section#social-share{
	color: #FFF;
	display: inline-block;
	float: right;
	position: relative;
	right: 30px;
	text-align: center;
	top:15px;
}

.a2a_default_style a {

  background-color: #8FE5E5;
  border-radius: 20px;
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 7px;
  line-height: 16px;
  padding: 0px !important;
 }

 .a2a_default_style a:hover {
  	background: #FFF;
   	-webkit-transform: scale(1.3,1.3) rotate(45deg);
	-moz-transform: scale(1.3,1.3) rotate(45deg);
  	-ms-transform: scale(1.3,1.3) rotate(45deg);
	-o-transform: scale(1.3,1.3) rotate(45deg);
  	transform: scale(1.3,1.3) rotate(45deg);*/
 }

  .a2a_default_style a:visited {
  	background: #0D1B1B;
 }

/*Fondo superior código*/
 #article-view {
 	color: #7290D5;
	font-family: 'Source Code Pro';
 	font-size: 8px;
 	font-weight: bold;
 	line-height: 0.9em;
 	margin-left: -160px;
 	margin-top: 70px;
 	opacity: 0.7;
 	position: relative;
 	text-align: left;
 	z-index: 1;
 }


 /*Area de blog posts*/

 .post-area {
 	color: #000;
 	display: block;
 	height: 700px;
 	margin-top: -190px;
 	margin-left: 180px;
 	width: 650px;

 }

 .title {
 	color: #226764;
  font-family: 'Architects Daughter', cursive;
 	font-size: 30px;
 	font-weight: bold;
 	text-align: right;
 }

 .post{
 	color: #000;
	font-family: 'Alegreya Sans', sans-serif;
 	font-size: 20px;
 	font-weight: bold;
 	line-height: 2em;
 	text-align: left;
 }

/*css lista de articulo */

.header--resumen{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-alingn-items: center;
	align-items: center;
	height: 30%;
	padding-top: 50px;
	width: 80%;
}

.logo--fanxhe{
	width: 300px;
}

.color-hr{
	border-style: solid;
	color:#D73B89;
	width: 80%;
	float: left;
}


#title-header{
	color: #000;
	text-decoration: none;
}

.title-article{
	color: #000;
	font-size: 20px;
	text-align:left;
}

hr{
	border-style: dashed;
	color: #009BCD;
}

.list{
	border-bottom-color: shadow(lightskyblue);
	float: left;
	margin-left: 5%;
	margin-top: 50px;
	position: relative;
	width: 60%;
}

.article-details{
	color: #009BCD;
	font-size:16px;
	font-weight: normal;
}
a ,a:visited {
	text-decoration:none;
	color:inherit;
}
a:hover{
	color: #FFF;
}

/*Categorías*/

 .categories{

 	float: right;
 	height: auto;
	left: 83%;
 	position: absolute;
	/*top: 60%;*/
 	width: 20%;
}


 #sidebar{

 	color: #226764;
 	font-family: 'Architects Daughter', cursive;
 	font-size: 20px;
 	height: 40px;
 	font-weight: bold;
 	text-align: center;
 	width: 200px;
 }

 .categories li{

 	color: #0D1B1B;
	font-family: 'Alegreya Sans', sans-serif;
 	font-size: 14px;
 	font-weight: bold;
 	text-align: left;
 }
span.vignette-colors{
	color: #009BCD;
}
 .categories li:hover{
 	color: #FFF;
 }

.categories li a:visited{
 	color: gray;
 }

/*Fondo inferior código*/
#Array{
 	bottom: 100px;
 	color: #7290D5;
 	float: right;
	font-family: 'Source Code Pro';
 	font-size: 8px;
 	font-weight: bold;
 	line-height: 0.9em;
 	margin-right: -180px;
 	margin-top: 70px;
 	opacity: 0.7;
 	position: relative;
 	text-align: left;
 	z-index: 1;
 }

footer {
 	background-color: #0D1B1B;
	bottom: 0;
 	color: #FFF;
	font-family: 'Architects Daughter', cursive;
 	font-size: 12px;
	height: 30px;
	padding: 2px;
 	position: fixed;
 	text-decoration: none;
	width: 100%;
}
