html, body {
	height: auto;
	width: auto; 
	margin: 0;
	background-color:#0D1B1B;
}

div#header{
	background: url(header.jpg) no-repeat fixed bottom center;
    background-size:cover;
	width:100%;
	height:370px;
	display:block;	
}

div#colima{
	background:url(hdr.jpg) no-repeat fixed bottom center;
    background-size:cover;
	width:100%;
	height:370px;
	opacity:0;
	display:block;
	position:absolute;
	top:0;
}
section#bloque1{
	background-color:#8FE5E5;
	background-image:url(fondo_tres.png);	
	background-size:380px 380px;
	min-height:1540px;
}

h1{
	width: 400px;
	margin: 0 auto;
	background-color:#0D1B1B;
	font-family:'Shadows Into Light', cursive;
	font-size:50px;
	color:white;
	text-align:center;
	position:relative;
	top:-75px;
}

	span#f{
	 	font-size: 105px;
	 	color:#46A1B6;
	}
	span#x{
	 	font-size:80px;
	 	color:#46A1B6;
	}
	span#t{
	 	font-size: 100px; 
	 	color:#46A1B6;
	}

h2#description{
	margin-bottom:120px;
	font-size:25px;
	
} 

span.mayor{
	font-size: 30px;
}

#description p{
	text-shadow: 20px -1px 20px #46A1B6;

}

div#estudiantes{
	display:flex;
	justify-content:center;
	min-height:300px;
	
}

/*#cambiarfondo,*/#estudiantes img {
	padding: 15px;
	width: 180px;
	height: 180px;
	border-radius:50%;
}
#estudiantes img:hover{
	box-shadow: 5px 5px 10px #999;
	width: 200px;
	height: 200px;

}

.estudiante{
	min-width:232px;
}
	/*div#cambiarfondo{
		position:absolute;
		opacity:0;
		background-size: 380px 380px;
		background-image: url(fondo_tres.png);
		background-color:#8FE5E5;
		box-shadow: 5px 5px 10px #999;
		width: 190px;
	 	height: 190px;
	 	background-color:#0D1B1B;
	}*/
h2.titulo{
	color:white;
	text-shadow: -1px -1px 15px black;
	font-size:35px;
	font-family:'Oswald', sans-serif;
	margin: 0 auto 12px auto;
	text-align:center;
}

.nombres p{
	color: black;
	text-shadow: -1px 1px 0 white;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin:0;
	text-align:center;		
}

.center{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;		
}

.half-block{
	min-width: 460px;
	min-height: 329px;
}

.block{
	min-width: 181px;
}



.logos img{
	padding: 15px;
	width: 130px;
	height:130px;
	border-radius:50%;
}

.logos img:hover{
	box-shadow: 5px 5px 10px #999;
	width: 150px;
	height: 150px;
}

div#coachcompany{
	text-align:center;
	min-height: 90px;
	display:flex;
	justify-content:center;
}
.block-crowd{
	min-width: 306px;
}

section#bloque3{
	background-color:#0D1B1B;
}

nav#contenido ul {
	position:relative;
	top:-40px;
	margin: 0 auto;
	display:block;
	width: 372px;
}
	
ul,li{
	list-style-type: none;
	display: inline-block;
	padding:0px;	

}
.menu a, .menu a:visited{
	background-color:#0D1B1B;
    text-align:center;
    text-decoration:none;
    font-size: 30px;
    font-family:'Oswald', sans-serif;
    color: white;
    padding:10px;
    margin:0px;
}

.menu a:hover{ 
     box-shadow:2px 2px 5px #999;
     position:relative;         
     top:-5px;
     color:#46A1B6;
}

@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'),url(shadows.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(oswald.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(oswald2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
