---
---
<!doctype html>
<html>
	<head>
	 	<meta charset="utf-8">
	 	<link rel="stylesheet" type="text/css" href="/css/blog.css"/>
	 	<link rel="stylesheet" type="text/css" href="/css/pagination-widget.css"/>
		<link href="http://fonts.googleapis.com/css?family=Kotta+One|Alegreya+Sans|Source+Code+Pro|Courgette|Shadows+Into+Light+Two|Architects+Daughter" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
	</head>
	<body>
		{% include menu.html %}
		<div id= "padre">
		 		<div id= "cover" class="section-resume"></div>

				<header id= "header" class= "section-resume">
						<h1 class= "title" id="title-header">
							{% assign first_post = site.posts.first %}
							<a href="{{ first_post.url }}">{{ first_post.title }}</a>
							<br>
							<br>
							{{ first_post.date | date: "%-d/%B/%Y" }}
						</h1>
						<p class="post" id="text">{{ first_post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
				</header>
		</div>
 		<section class= "list">
			{% for post in site.posts %}
				{% if post != first_post %}
					<div class = "title title-article">
						<h3>
							<span class= "article-details"> &gt;</span>
							<a class="link.article" href ="#"> {{ post.title }}</a>
							<span class = "article-details">[{{ post.date | date: "%-d/%B/%Y" }}]</span>
						</h3>
					</div>
					<hr>
				{% endif %}
			{% endfor %}
 		</section>

		{% include categories.html %}

 		<!-- <section id="Comments">

 			<div id="comments-area"></div>

 		</section> -->

		{% include footer.html %}

	</body>
</html>
