html, body {
	height: auto;
	width: auto; 
	margin: 0;
	background-color:#0D1B1B;
}

div#header{
	background: url(col.jpg) no-repeat fixed bottom center;
    background-size:cover;
	width:100%;
	height:350px;
	display:block;	
}

div#colima{
	background:url(coli.jpg) no-repeat fixed bottom center;
    background-size:cover;
	width:100%;
	height:350px;
	opacity:0;
	display:block;
	position:absolute;
	top:0;
}
section#bloque1{
	background-color:#8FE5E5;
	background-image:url(fondo_tres.png);	
	background-size:380px 380px;
	min-height:1120px;
}

h1{
	width: 400px;
	margin: 0 auto;
	background-color:#0D1B1B;
	font-family:'Shadows Into Light', cursive;
	font-size:50px;
	color:white;
	text-align:center;
	position:relative;
	top:-75px;
}

	span#f{
	 	font-size: 105px;
	 	color:#46A1B6;
	}
	span#x{
	 	font-size:80px;
	 	color:#46A1B6;
	}
	span#t{
	 	font-size: 100px; 
	 	color:#46A1B6;
	}

div#estudiantes{
	display:flex;
	justify-content:center;
}


/*#cambiarfondo,*/#estudiantes img {
	padding: 15px;
	width: 180px;
	height: 180px;
	border-radius:50%;
}
#estudiantes img:hover{
	box-shadow: 5px 5px 10px #999;
	width: 200px;
	height: 200px;
}


	/*div#cambiarfondo{
		position:absolute;
		opacity:0;
		background-size: 380px 380px;
		background-image: url(fondo_tres.png);
		background-color:#8FE5E5;
		box-shadow: 5px 5px 10px #999;
		width: 190px;
	 	height: 190px;
	 	background-color:#0D1B1B;
	}*/
h2.titulo{
	color:white;
	text-shadow: -1px -1px 15px black;
	font-size:35px;
	font-family:'Oswald', sans-serif;
	margin: 0 auto 12px auto;
}

.nombres p{
	color: black;
	text-shadow: -1px 1px 0 white;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin:0;
	text-align:center;		
}

h2#t_student{
	text-align: center;
}


.row,#project {
	display:flex;
	justify-content:space-around;
}

.row .titulo {
	text-align: center;
}
		
div#center{ 
	display:flex;

}
.logos img{
	padding: 15px;
	width: 130px;
	height:130px;
	border-radius:50%;
}

.logos img:hover{
	box-shadow: 5px 5px 10px #999;
	width: 150px;
	height: 150px;
}

div#coachcompany{
	text-align:center;
	min-height: 90px
}

section#bloque3{
	background-color:#0D1B1B;
}

nav#contenido ul {
	position:relative;
	top:-40px;
	margin: 0 auto;
	display:block;
	width: 285px;
}
	
ul,li{
	list-style-type: none;
	display: inline-block;
	padding:0px;	

}
.menu a, .menu a:visited{
	background-color:#0D1B1B;
    text-align:center;
    text-decoration:none;
    font-size: 30px;
    font-family:'Oswald', sans-serif;
    color: white;
    padding:10px;
    margin:0px;
}

.menu a:hover{ 
     box-shadow:2px 2px 5px #999;
     position:relative;         
     top:-5px;
}

@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'),url(shadows.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}