---
---
<!doctype html>
<html>
	<head>
	 	<meta charset="utf-8">
	 	<link rel="stylesheet" type="text/css" href="/css/blog.css"/>
	 	<link rel="stylesheet" type="text/css" href="/css/pagination-widget.css"/>
		<link href="http://fonts.googleapis.com/css?family=Kotta+One|Alegreya+Sans|Source+Code+Pro|Courgette|Shadows+Into+Light+Two|Architects+Daughter" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
	</head>
	<body>
		{% include menu.html %}

		<header class= "header--resumen" >
			  <img class="logo--fanxhe" src="../img/sticker-logo.png"/>
				<div class="header--last-post">
					<h1 class= "title" id="title-header">
						{% assign last_post = site.posts.first %}
						<a href="{{ first_post.url }}">{{ last_post.title }}</a>
						<span class ="article-details">[{{ last_post.date | date: "%-d/%B/%Y" }}]</span>
					</h1>
					<p class="post" id="text">{{ last_post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
				</div>

		</header>
		<hr class="color-hr">
 		<section class= "list">
			{% for post in site.posts %}
				{% if post != last_post %}
					<div class = "title title-article">
						<h3>
							<span class= "article-details"> &gt;</span>
							<a class="link.article" href ="{{ post.url }}"> {{ post.title }}</a>
							<span class = "article-details">[{{ post.date | date: "%-d/%B/%Y" }}]</span>
						</h3>
					</div>
					<hr>
				{% endif %}
			{% endfor %}
 		</section>

		{% include categories.html %}

 		<!-- <section id="Comments">

 			<div id="comments-area"></div>

 		</section> -->

		{% include footer.html %}

	</body>
</html>
