html, body {
	height:auto;
	width:auto;
	margin: 0;
	background:transparent;
}

div#onepage-scroll{
	min-height:800px;
	height: 100%;
	width:100%;
	top: 40px;
}
/*BLOQUE1*/


div#header{
	background:url(header.jpg) no-repeat fixed bottom center;
  background-size:cover;
	width:100%;
	height:375px;
	display:block;
	position:absolute;
}

div#cover{
	background:url(hdr.jpg) no-repeat fixed bottom center;
  background-size:cover;
	width:100%;
	height:375px;
	opacity:0;
	display:block;
	position:absolute;
}

h1#fanxhe{
	width: 400px;
	margin: 0 auto;
	background-color:#0D1B1B;
	font-family:'Shadows Into Light', cursive;
	font-size:50px;
	color:white;
	text-align:center;
	position:relative;
	top:325px;
}

	span#f{
	 	font-size: 105px;
		color:#189CCB;
	}
	span#x{
	 	font-size:80px;
	 	color:#189CCB;
	}
	span#t{
	 	font-size: 100px;
	 	color:#189CCB;
	}

h2#description{
	margin-top: 350px;
	margin-bottom:120px;
	font-size:25px;
}

span.mayor{
	font-size: 30px;
}

#description p{
	text-shadow: 20px -1px 20px #46A1B6;
}


/*BLOQUE2*/

/*Letras bloque2 (titulo y nombres)*/
#titulo-estudiantes {
		padding-top: 70px;
}

h2.titulo{
	color:white;
	text-shadow: -1px -1px 15px black;
	font-size:25px;
	font-family:'Oswald', sans-serif;
	margin: 0px 16px 12px auto;
	text-align:center;
}

.nombres p{
	color: black;
	text-shadow: -1px 1px 0 white;
	font-family:'Oswald', sans-serif;
	font-size: 17px;
	margin:0;
	text-align:center;
}

/*Fondo del bloque 1 y 2*/

#bloque1,#bloque2{
	width:100%;
	height:100%;
	background-color:#8FE5E5;
	background-image:url(fondo_tres.png);
	background-size:350px 350px;
	min-height:100%;
}


/*Menu lateral de estudiantes efectos circulos al lado de estudiantes*/

div.circle_about_me{
	opacity: 0;
	width:110px;
	height:110px;
	background-color:hsla(170, 30%, 40%, 0.6);
	border-radius:50%;
}

div.circle_about_me:hover{
	box-shadow: 5px 5px 10px #999;
}

#Fanny{
	margin:60px 0px 0px -58px;
}
li.fanny{
	margin-left:29px;
}
#Anye{
	margin:53px -40px 0px 0px;
}
li.anye{
	margin-left:19px;
}

li.menu_about{
	font-family:'Oswald', sans-serif;
	display:list-item;
	text-align:center;
}
li.menu_about a{
	text-decoration:none;
}


a.hover_about,a.hover_about:visited{
	text-decoration:none;
	font-size: 20px;
	color:white;
	text-shadow: -1px 1px 0 black;
	/*color:#16DEB1;*/
}
a.hover_about:hover{
	color:#57003f;
}

/*Bloque2, flex pagina */

div#estudiantes{
	display:flex;
	justify-content:center;
	/*min-height:30%;*/
}
#estudiantes img {
	padding: 15px;
	width: 130px;
	height: 130px;
	border-radius:50%;
}
.estudiante{
	min-width:192px;
	z-index:1;
}

.center{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.half-block{
	min-width:420px;
	min-height:30%;
}

.block{
	min-width:141px;
}

/*#cambiarignacio,#lgignacio,*/.logos img{
	padding:10px;
	width: 90px;
	height:90px;
	border-radius:50%;
}
.logos img:hover{
	box-shadow: 5px 5px 10px #999;
	width: 100px;
	height: 100px;
}
/*
div#cambiarignacio{
	border-radius:50%;
	position:absolute;
	opacity:0;
	background-size: 380px 380px;
	background-color:hsla(170, 30%, 40%, 0.6);
	background-image: url(fondo_tres.png);
  background-color:#8FE5E5;
  width: 110px;
	height: 110px;
	box-shadow: 5px 5px 10px #999;
}

div.lgignacio,.lgignacio img{
	width:40px;
	height:40px;
	opacity:1;
	position:absolute;
}*/

div#coachcompany{
	text-align:center;
	display:flex;
	justify-content:center;
}
.block-crowd{
	min-width: 266px;
}

#menu{
	display: flex;
	background-color:#0D1B1B;
	width:100%;
	position: fixed;
 	height: 50px;
 	z-index: 9999;
}

nav#contenido {
	position: fixed;
 	background-color: #0D1B1B;
}

nav#contenido ul {
	position:static;
	top:10px;
	bottom: 10px;
	margin: 0px;
	display:block;
	width: 100%;
}

ul,li{
	list-style-type:none;
	display: inline-block;
	padding:0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.menu a, .menu a:visited{
		background-color:#0D1B1B;
    text-align:center;
    text-decoration:none;
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    color: white;
    padding:10px;
    margin:10px;
}

/*Efectos del menú*/
.menu a:hover{
     position:relative;
     top:-5px;
     color:#46A1B6;
     font-size: 22px;
     opacity: 1;
     text-shadow: 0px 0px 13px #fff;
	 webkit-transform: skew(-12deg);
	 moz-transform: skew(-12deg);
	 o-transform: skew(-12deg);
	 ms-transform: skew(-12deg);
	 transform: skew(-12deg);
	 webkit-transition: all 0.4s ease-in-out;
	 moz-transition: all 0.4s ease-in-out;
	 o-transition: all 0.4s ease-in-out;
	 ms-transition: all 0.4s ease-in-out;
	 transition: all 0.4s ease-in-out;
 }

.menu li:hover{
	opacity: 1;
  	color:#46A1B6;
 	animation: moveFromBottom 300ms ease-in-out;
 	color: transparent;
	text-shadow: 0px 0px 10px #fff;
	background: rgba(88,22,22,0.2);
 }

/*<Seccion about>*/

#about1,#about2,#about3,#about4{
	width:100%;
	height:800px;
	position:relative;
}

div#fondo_about1{
	width:100%;
	height:800px;
	/*alternativa de fondo 1*/
	background-image: url(colima.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	position:absolute;
}

/*alternativa de fondo 2*/

div#fondo_about2{
	width:100%;
	height:800px;
	background-color: #46A1B6;
	background-image:url(fondo_tres.png);
  background-size:380px 380px;
	opacity:0.8;
	position:absolute;*/
}

div#fondo_about3{
	width:100%;
	height:800px;
	background-color: #226764;
	background-image:url(fondo_tres.png);
  background-size:380px 380px;
	position:absolute;
}

div#fondo_about4{
	width:100%;
	height:800px;
	background-color: #0D758E;
	background-image:url(fondo_tres.png);
  background-size:380px 380px;
	position:absolute;
}

div.rectangulo{
	width:100%;
	height:100%;
	opacity: 0;
	background:url(rectangulo.png) no-repeat;
	background-size:100% 100%;
  position:relative;
}

div.rectangulo1{
	background-position:-1000px 50%;
}
div.rectangulo2{
	background-position:1000px 50%;
}


/*Titulos , y descripciones de about */

div.about_project{
	opacity: 0;
	width:800px;
	display:block;
	margin:0 auto;
	position:absolute;
	margin-left: 25%;
	top:200px;
}

div h1.titulo_about{
	font-family:'Oswald', sans-serif;
	font-size: 40px;
}

div h2#contenido_about{
	font-size: 30px;
}






 footer{
 	background-color: #0D1B1B;
 	bottom:5px;
 	color: #FFF;
 	font-family: 'Architects Daughter', cursive;
 	font-size: 12px;
 	height: 30px;
 	margin-left: 10px;
 }

@font-face {
  font-family:'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'),url(shadows.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(oswald.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(oswald2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
