<section id="categories">

  <div id="sidebar">TOPICS</div>

  <ul>
    {% for category in site.categories %}
      <li>
        <span class= "vignette-colors">&gt;</span>
        <a href="#">{{ category[0] }}</a>
      </li><br>
    {% endfor %}
  </ul>


  <script type="text/javascript">
    (function(){

     var offset = $("#sidebar").offset();
     console.log(offset);
     var topPadding = 150;
     $(window).scroll(function() {
       if ($("#sidebar").height() < $(window).height() && $(window).scrollTop() > offset.top) {

         $("#sidebar").stop().animate({
             marginTop: $(window).scrollTop() - offset.top + topPadding
           });
       } else {
         $("#sidebar").stop().animate({
           marginTop: 0
         });
         };
       });
   })();
  </script>
</section>
