@import "modules/menu";
@import "modules/header";
@import "modules/description";
@import "modules/logo_inline";

.container-main-title {
  position: relative;
  top: 406px;
}

#home {
  background-color: $riptide;
  background-image: url(../img/fondo_tres.png);
  background-size: 330px 330px;
  height: 100%;
  min-height: 100%;
  width: 100%;
}
