.menu {
  background-color: $aztec;
  height: 50px;
  width: 100%;
  // position: fixed;
  // z-index: 9999;

  nav.menu-options {
    float: left;

    ul {
      // display: block;
      margin: 0;
      // width: 100%;

      li {
        display: inline-block;
        list-style-type: none;
        margin: 10px 0 10px 0;
        // padding: 0;

        // &:hover {
        //   animation: moveFromBottom 300ms ease-in-out;
        //   color: transparent;
        //   text-shadow: 0px 0px 10px #fff;
        //   background: rgba(88,22,22,0.2);
        // }

        a, a:visited {
          color: white;
          font-size: 20px;
          font-family: 'Architects Daughter', cursive;
          text-align: center;
          text-decoration: none;
          margin: 10px;
          padding: 10px;

          &:hover {
            color: $pelorous;
            position: relative;
            text-shadow: 0px 0px 13px #fff;
            transform: skew(-12deg);
            webkit-transform: skew(-12deg);
            moz-transform: skew(-12deg);
            o-transform: skew(-12deg);
            ms-transform: skew(-12deg);
            transition: all 0.4s ease-in-out;
            webkit-transition: all 0.4s ease-in-out;
            moz-transition: all 0.4s ease-in-out;
            o-transition: all 0.4s ease-in-out;
            ms-transition: all 0.4s ease-in-out;
            top: -5px;
          }
        }
      }
    }
  }

  nav.menu-social {
  	color: white;
  	display: inline-block;
  	float: right;
  	position: relative;
  	right: 30px;
  	text-align: center;
  	top:15px;

    .a2a_default_style a {
      background-color: $riptide;
      border-radius: 20px;
      float: left;
      height: 20px;
      line-height: 16px;
      margin-right: 7px;
      width: 20px;
      // padding: 0px !important;
    }

    .a2a_default_style a:hover {
      background-color: white;
      transform: scale(1.3,1.3) rotate(45deg);
      -webkit-transform: scale(1.3,1.3) rotate(45deg);
      -moz-transform: scale(1.3,1.3) rotate(45deg);
      -ms-transform: scale(1.3,1.3) rotate(45deg);
      -o-transform: scale(1.3,1.3) rotate(45deg);
    }

    .a2a_default_style a:visited {
      background: $aztec;
    }
  }
}
