html, body {
	height:100%;
	width:100%; 
	margin: 0;
	background-color:#0D1B1B;
}

div#header{
	background: url(col.jpg) no-repeat fixed bottom center;
    background-size: cover;
	width: 100%;
	height:400px;
	display:block;	
}

div#colima{
	background: url(coli.jpg) no-repeat fixed bottom center;
    background-size: cover;
	width: 100%;
	height:400px;
	opacity: 0;
	display:block;
	position:absolute;
	top: 0;

}

h1{
	width: 400px;
	margin: 0 auto;
	background-color:#0D1B1B;
	font-family:'Shadows Into Light', cursive;
	font-size:50px;
	color:white;
	text-align:center;
	position: relative;
	top:-75px;
	/*top: 310px;*/
}

	span#f{
	 	font-size: 105px;
	 	color:#46A1B6;
	}
	span#x{
	 	font-size:80px;
	 	color:#46A1B6;
	}
	span#t{
	 	font-size: 100px; 
	 	color:#46A1B6;
	}

section#bloque1{
	background-color: #92C9D6;	
	background-image: url(fon.png);
}
	

	div#estudiantes{
		margin: auto;
		width:50%;
		min-width: 400px;
		display:flex;
		flex-flow:row;
		justify-content:space-around;
	 }

	 	#estudiantes img {
	 		width: 200px;
	 		height: 200px;
			border-radius:50%;
		}

		.estudiante p{
			background-color:#92C9D6;
			color: #232A2C;
			font-family: 'Oswald', sans-serif;
			font-size: 20px;
			margin:0;
			text-align: center;
		}

	div#logos{
		margin-top: 60px;
		display:flex;
		flex-flow:column;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:space-around;
		
		

	}
		#logos img{
			width: 150px;
			height:150px;
			border-radius:50%;
		}

	section #bloque2{
	background-color:#0D1B1B;
	}

 	
	ul,li{
		list-style-type: none;
		display: inline;
		margin: 0px;
		padding:0px;	

	}
	.menu a, .menu a:visited{

		margin-top:-100px;
	    text-align:center;
	    text-decoration:none;
	    font-size: 30px;
	    font-family: 'Oswald', sans-serif;
	    color: white;
	}

	.menu a:hover {

	background-color: red;

	}
